@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #252423;
}

::-webkit-scrollbar-thumb {
  background-color: #454545;
  border-radius: 10px;
  border: 1px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #e64543;
}

h1 {
  font-family: 'Playfair Display', serif;
}

p {
  font-weight: 400;
}

.home-about {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  color: #F6F4F2;
}

.home-about h1 {
  font-size: 4rem;
  font-weight: bolder;
}

.home-about p {
  font-size: 1.1rem;
  margin-top: 2px;
}

.my-portrait {
  position: relative;
  width: 35vw;
  height: 100%;
}

.my-portrait img {
  position: absolute;
  bottom: 0;
  width: 100%;
  object-fit: contain;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.intro-1, .intro-2 {
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.intro-1 {
  width: 25%;
  margin: 20px;
  transform: translate(20%, 95%);
}

#name-highlight {
  color: #F74F4D;
}

.intro-2 {
  width: 25%;
  margin: 20px;
  transform: translate(-5%, 95%);
}

.intro-2-content {
  color: rgb(109, 109, 109);
}

.about-me-container {
  height: 100vh;
  position: relative;
  z-index: 2;
  margin-top: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me {
  background-color: rgba(1, 1, 1, 0.7);
  border-radius: 15px;
  padding: 20px;
  padding-top: 50px;
  padding-left: 50px;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  color: #F6F4F2;
}

.bio-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 15px;
}

.vern-img {
  width: 500px;
  margin-top: -30px;
}

.skills-container {
  height: 100vh;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills {
  background-color: rgba(1, 1, 1, 0.7);
  border-radius: 15px;
  padding: 20px;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #F6F4F2;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Create two equal columns */
  gap: 40px 80px;
}

.skill-bar {
  display: flex;
  align-items: center; /* Center items vertically */
}

.skill-label {
  width: 100px; /* Fixed width for the skill label */
  font-weight: bold; /* Bold text for skill labels */
}

.bar-container {
  flex-grow: 1; /* Allow the bar container to grow and fill space */
  background-color: #252423; /* Background color for the bar container */
  height: 8px; /* Height of the skill bar */
  margin: 0 10px; /* Spacing around the bar */
  position: relative; /* For positioning the level bar */
}

.level-bar {
  background-color: #F74F4D; /* Red color for the level indicator */
  height: 100%; /* Full height of the bar container */
  position: absolute; /* Positioning */
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  transition: width 0.3s ease; /* Smooth transition for width change */
}

.skill-level {
  min-width: 50px; /* Minimum width for the percentage label */
  text-align: right; /* Align percentage to the right */
}