@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-family: 'Playfair Display', serif;
}

p {
  font-weight: 600;
}

.home-about {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  color: #F6F4F2;
}

.home-about h1 {
  font-size: 4rem;
  font-weight: bolder;
}

.home-about p {
  font-size: 1.1rem;
  margin-top: 2px;
}

.my-portrait {
  position: relative;
  width: 35vw;
  height: 100%;
}

.my-portrait img {
  position: absolute;
  bottom: 0;
  width: 100%;
  object-fit: contain;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.intro-1, .intro-2 {
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.intro-1 {
  width: 25%;
  margin: 20px;
  transform: translate(20%, 95%);
}

#name-highlight {
  color: #F74F4D;
}

.intro-2 {
  width: 25%;
  margin: 20px;
  transform: translate(-5%, 95%);
}

.intro-2-content {
  color: rgb(109, 109, 109);
}

.about-me {
  height: 100vh;
  background-color: #DADEDF;
  position: relative;
  z-index: 2;
  margin-top: 100vh;
}
